/* MENU Z-INDEX 10 */
/* HEADER Z-INDEX 100 */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin-top: 150px;
}

@media screen and ( max-width: 768px ) {
  body {
    margin-top: 125px;
  } 
}

@media screen and ( max-width: 479px ) {
  body {
    margin-top: 105px;
  } 
}

.contenedor {
  max-width: 1100px;
  margin: auto;
  padding: 15px;
}

.padding_top {
  padding-top: 90px !important;
}

.titulo_productos {
  text-align: center;
  padding: 15px;
  font-size: 36px;
  line-height: 41px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FC6170;
  margin: 30px 0; 
  margin-top: 0;
}

@media screen and ( max-width: 768px ) {
  .titulo_productos {
    font-size: 32px;
    line-height: 37px;
  }
}

@media screen and ( max-width: 479px ) {
  .titulo_productos {
    font-size: 28px;
    line-height: 33px;
    margin: 30px 0;
  }
}

/* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
  height: 500px;
}

.slider_productos {
  position: relative;
}

#prev {
  position: absolute;
  top: 30%;
  left: -4%;
}

#prev img {
  width: 50%;
}

#next {
  position: absolute;
  top: 30%;
  right: -7%;
}

#next img {
  width: 50%;
}

.item_producto {
  text-align: center;
  box-shadow: 0px 0px 5px #707070;
  border-radius: 10px;
  overflow: hidden;
}
 
.imagen_producto {
  height: 300px;
  background-image: url('../images/producto_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.textos_producto {
  padding: 15px;
}

.titulo_producto {
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 5px;
}

.precio_producto {
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  font-size: 20px;
  line-height: 25px;
  display: block;
  margin-bottom: 15px;
}

.cta_producto {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #fc6170;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-radius: 38px;
  padding: 10px 20px;
  font-size: 16px;
  line-break: 21px;
  display: none;
  transition: .2s;
}

.slick-center .cta_producto {
  display: inline-block;
}

.cta_producto {
  animation-name: fadeIn;
  animation-duration: .8s;
}

@media screen and ( max-width: 1270px ) {

  #prev {
    position: absolute;
    top: 100%;
    left: 40%;
  }
  
  #prev img {
    width: 100%;
  }
  
  #next {
    position: absolute;
    top: 100%;
    right: 40%;
  }
  
  #next img {
    width: 100%;
  }
}

@media screen and ( max-width: 768px ) {

  .contenedor {
    padding: 0 15px;
  }

  .botones {
    display: none;
  }

  .imagen_producto {
    height: 180px;
  }

  .titulo_producto {
    font-size: 16px;
    line-height: 21px;
  }

  .precio_producto {
    font-size: 18px;
    line-height: 23px;
  }

  .slick-center .cta_producto {
    display: block;
  }

  .slick-list {
    height: auto;
  }

  .cta_producto {
    font-size: 14px;
    line-break: 19px;
  }

  #next {
    right: 0;
    top: 100%;
  }
  #prev {
    left: 77%;
    top: 100%;
  }

}

@media screen and ( max-width: 579px ) {
  #next {
    right: 0;
    top: 100%;
  }
  #prev {
    left: 70%;
    top: 100%;
  }

  #next img {
    width: 70%;
  }

  #prev img {
    width: 70%;
  }
}

@media screen and ( max-width: 390px ) {
 
  #prev {
    left: 63%;
    top: 100%;
  }
}

/* TESTIMONIOS */

.titulo_testimonio {
  text-align: center;
  padding: 15px;
  font-size: 36px;
  line-height: 41px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FC6170;
}

.flipster {
  overflow-y: hidden !important;
}

.flipster__button svg {
  stroke: #fc6170 !important;
}

.item_testimonio {
  display: flex;
  max-width: 500px;
  border: 1px solid #707070;
  align-items: flex-end;
  border-radius: 10px;
  margin: auto;
  background: white;
  position: relative;
}

.textos_testimonio {
  padding: 10px;
  align-self: normal;
  display: flex;
  flex-direction: column;
}

.nombre_testimonio {
  font-size: 16px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FC6170;
}

.parrafo_testimonio {
  font-size: 14px;
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
}

.fecha_testimonio {
  font-size: 12px;
  line-height: 17px;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  font-style: italic;
  margin-top: auto;
}

.imagen_testimonio img {
  max-width: 170px !important;
  display: block; 
  padding: 10px;
  padding-bottom: 0;
}

@media screen and ( max-width: 550px ) {

  .titulo_testimonio {
    font-size: 28px;
    line-height: 33px;
  }

  .imagen_testimonio {
    display: none;
  }

  .item_testimonio {
    max-width: 300px;
  }

  .flipster__button {
    display: none !important;
  }

  .testimonios {
    margin: 15px                                                                       0px 0;
  }
}

/*  Contacto Foter */

.texto_titulo_contacto {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FC6170;
  line-height: 53px;
  font-size: 36px;
  line-height: 41px;
}

.contenedor_formulario {
  background: url('../images/bg_contacto.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.formulario {
  max-width: 30%;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px; 
  padding: 10px;
  border: none;
  border-bottom: 1px solid #FC6170;
  font-family: "Open Sans", sans-serif;
  color: #707070;
  font-size: 14px;
  line-height: 19px;
  
}

select {
  width: 100%;
  height: 40px; 
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #FC6170;
  font-family: "Open Sans", sans-serif;
  color: #707070;
  font-size: 14px;
  line-height: 19px;
  background: white;
  
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #707070;
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid #FC6170;
  
}

input[type="submit"] {
  width: auto;
  background: #FC6170;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-break: 25px;
  font-weight: bold;
  border-radius: 35px;
  padding: 10px 30px;
}

/* Footer */

.titulo_siguenos {
  font-size: 36px;
  line-height: 41px;
  color: #FC6170;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.redes {
  display: flex;
  justify-content: center;
}

.facebook, .instagram {
  padding: 5px;
  text-align: center;
}

.facebook img, .instagram img {
  width: 60%;
}



.derechos {
  display: flex;
  justify-content: space-between;
}

.reservados {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #FC6170;
}

.by {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #FC6170;
  font-weight: bold;
}

footer {
  background: rgba(252, 97, 112, .1)
}

@media screen and  ( max-width: 768px ) {
  .texto_titulo_contacto {
    font-size: 30px;
    line-height: 35px;
    margin-top: 60px;
  }

  .contenedor_formulario {
    background-position: 25%;
  }

  .formulario {
    max-width: 40%;
  }

  input[type="submit"] {
    font-size: 16px;
  }

  /* Footer */

  .titulo_siguenos {
    font-size: 30px;
    line-height: 35px;
    padding-top: 20px;
  }

  .facebook img, .instagram img {
    width: 50%;
  }

  .reservados {
    font-size: 10px;
    line-height: 15px;
  }

  .by {
    font-size: 10px;
    line-height: 15px;
  }

  .derechos {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


}

@media screen and ( max-width: 579px ) {

  .contenedor_formulario {
    background: none;
  }

  .formulario {
    max-width: 100%;
  }

  .texto_titulo_contacto {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  input[type="submit"] {
    width: 100%;
  }

}

  /* Cocinamos con amor */

.cocinamos_amor {
  padding-top: 40px;
}

  .titulo_cocinamos_amor {
    margin-top: 0; 
    text-align: center;
    padding: 15px;
    font-size: 36px;
    line-height: 41px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FC6170;
    margin-bottom: 60px;
  }

  .c_image_item {
    text-align: center;
  }

  .c_image_item img {
    max-width: 150px;
  }

  .titulo_item {
    text-align: center;
    padding: 5px;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
  }

  .c_items_cocinamos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
  }

  .item_cocinamos {
    padding: 10px;
  }

@media screen and ( max-width: 768px ) {
  .titulo_cocinamos_amor {
    font-size: 32px;
    line-break: 37px;
  }

  .c_image_item img {
    max-width: 100px;
  }

  .titulo_item {
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and ( max-width: 650px ) {
  .item_cocinamos {
    width: 50%;
  }
}

@media screen and ( max-width: 479px ) {

  .c_items_cocinamos {
    margin: 30px 0;
  }

  .titulo_item {
    font-size: 16px;
  }

  .c_image_item img {
    max-width: 85px;
  }

  .titulo_cocinamos_amor {
    font-size: 28px;
    line-height: 33px;
    margin: 15px 0;
  }
}

/* SOBRE NOSOTROS */

.c_nosotros {
  display: flex;
  flex-wrap: wrap;
}

.titulo_nosotros {
  text-align: left;
  font-size: 36px;
  line-height: 41px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FC6170;
  margin: 0 0 30px 0;

}

.parrafo_nosotros {
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
}

.texto_propietario {
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  font-weight: normal;
}

.c_imagen_nosotros img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px grey;
}

.c_textos_nosotros {
  width: 35%;
  padding-right: 20px;
}

.c_imagen_nosotros {
  width: 65%;
}

.c_firma {
  display: flex;
}

@media screen and ( max-width: 768px ) {

  .c_firma {
    display: block;
  }

  .texto_propietario {
    text-align: center;
  }

  .imagen_firma {
    text-align: center;
  }

  .c_nosotros {
    margin: 30px 0;
  }

  .c_textos_nosotros {
    width: 100%;
  }

  .c_imagen_nosotros {
    width: 100%;
  }

  .titulo_nosotros {
    text-align: center;
  }

  .parrafo_nosotros {
    text-align: justify;  
  }

  .titulo_nosotros {
    font-size: 32px;
    line-height: 37px;
  }
}

@media screen and ( max-width: 479px ) {
  .titulo_nosotros {
    font-size: 28px;
    line-height: 33px;
  }
}

@media screen and ( max-width: 380px ) {
  .c_firma {
    display: block;
  }

  .texto_propietario {
    text-align: center;
  }

  .imagen_firma {
    text-align: center;
  }
}

/* HEADER */

nav {
  position: relative;
}

.contenedor_menu {
  padding:  0 10px;
}

.logo {
  margin: 0;
}

.logo img {
  max-width: 100px;
  transition: 1s;
}

.item_tel {
  text-decoration: none;
  padding-left: 10px;
}

.nav_telefono {
  display: flex;
  align-items: center;
}

.numero_telefono strong {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Open Sans', sans-serif;
  color: #FC6170;
  font-weight: bold;
}

.numero_telefono {
  padding: 0 10px;
}

.items_nav {
  display: flex;
  align-items: center;
}

.item_nav {
  transition: 1s;
  font-size: 12px;
  line-height: 23px;
  font-family: 'Open Sans', sans-serif;
  color: #FC6170;
  text-decoration: none;
  padding: 10px;
  border-bottom: 5px solid transparent;
}

.item_nav:hover {
  border-bottom: 5px solid #FC6170;
}

.c_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_burger {
  display: none;
}

.icono_menu img {
  max-width: 30px;
}

.c_menu_burger {
  display: flex;
  flex-direction: row-reverse;
}

.icono_menu {
  border: none;
  background: none;
}

.item_nav_movil {
  display: block;
  text-align: center;
  padding: 20px;
}

.item_tel_movil {
  display: block;
  text-align: center;
  padding: 20px;

}

.nav_telefono_movil {
  justify-content: center;
}

.items_nav_movil {
  position: absolute;
  background: white;
  z-index: 10;
  width: 100%;
  display: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  z-index: 1000;
}


@media screen and ( max-width: 768px ) {
  .items_nav {
    display: none;
  }

  .menu_burger {
    display: block;
  }

  .logo img {
    max-width: 100px;
  }
}

@media screen and ( max-width: 479px ) {
  .logo img {
    max-width: 100px;
  }

  .icono_menu img {
    max-width: 25px;
  }
}

/* HERO */

.hero {
  background-image: url('../images/bg_banner_principal.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.c_hero {
  padding: 60px 0;
  padding-right: 80px;
  padding-top: 10px;
}

.titulo_rose {
  font-size: 48px;
  line-height: 53px;
  font-family: 'Dancing Script', cursive;
  color: #FC6170;
  font-weight: lighter;
  margin-bottom: 20px;
}

.subtitulo_rose {
  font-size: 24px;
  line-height: 29px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #707070;
  margin-bottom: 40px;
}

.cta_hero {
  font-family: 'Open Sans', sans-serif;
  background: #FC6170;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 38px;
  display: inline-block;
  margin-bottom: 40px;
}

.texto_siguenos {
  color: #707070;
  font-size: 18px;
  line-height: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.siguenos {
  margin-bottom: 10px;
}

.numero_llamanos {
  color: #707070;
  font-size: 18px;
  line-height: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.btn_red_hero {
  text-decoration: none;
  margin: 0 5px;
}

@media screen and ( max-width: 768px ) {
  .titulo_rose {
    font-size: 40px;
    line-height: 45px;
  }

  .subtitulo_rose {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}

@media screen and ( max-width: 479px ) {
  .c_hero {
    padding: 30px 0;
    padding-right: 80px;
  }

  .titulo_rose {
    font-size: 32px;
    line-height: 37px;
  }

  .subtitulo_rose {
    font-size: 18px;
    line-height: 23px;
  }
}

/* GALERIA */

.galeria {
  padding: 30px 0;
}

.fancybox {
 
}

.c_galeria {
  text-align: center;
}

.fancybox img {
  width: 25%;
  height: auto;
  border-radius: 10px;
  
}